$midnight: #2c3e50;

.header-2 {
  color: #919191;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}

.tab-container {
  padding: 24px 0;
  .tab--content {
    margin-top: 40px;
    color: #707070;
    font-size: 17.5px;
    text-align: center;
  }
}

.accordion {
  margin-bottom: 16px;
}

.bm-container {
  padding-top: 10px;  
  display: flex;
  justify-content: center;
  // background-color: #b6b6b6;

  margin-right: 42px;
  .bm {
    width: 50px;
    height: 50px;
    background-color: rgb(214, 214, 214);
    border-radius: 50%;
  }
}

.middle-section {
  padding-top: 100px;
  padding-bottom: 200px;

  .keywords {
    color: #ffff5b;
    font-weight: 800;
  }

  Checkmark .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 5;
    stroke-miterlimit: 10;
    stroke: midnight;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }

  .checkmark {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    stroke-width: 5;
    stroke: $midnight;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
  }

  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }

  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%,
    100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #fff;
    }
  }
}
